.classform {
    margin-left: 20px;
    margin-right: 10px;
}

.button{
    margin-left: 200px;
    color: purple;
    background-color: rgb(255, 230, 255);
}

.bottom {
    margin-bottom: 15px;
}